!!!
%html
	%head
		%meta{charset: 'utf-8'}
		%title Webcomic Tracker - Add a comic
		%script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
		%link{rel: 'stylesheet', href: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"}
		:css
			.container {
				width: 50%;
			}
		:javascript
			$(function(){
				$("#guess").click(function(){
					var comic = $("#name").val();
					$.post("#{url('/guess')}", {'comic': comic}, function(result){
						var false7 = [false, false, false, false, false, false, false];
						result = result || {'name': comic, 'url': '', 'schedule': false7};
						$("#name").val(result.name);
						$("#url"). val(result.url);
						for (var i = 0; i < 7; i++)
						{
							var day = #{LDAYS}[i];
							$("#updates-" + day).prop('checked', result.schedule[i]);
						}
					}, 'json');
				});
			});
	%body
		.container
			%h1 Add a comic.
			- if @error
				.alert.alert-danger= @error
			%form.form-horizontal{role: 'form', method: 'post'}
				.form-group
					%label.col-lg-3.control-label{for: 'name'}
						Comic Name
					.col-lg-6
						%input#name.form-control{type: 'text', name: 'name',
							placeholder: 'Comic Name', value: params["name"]}
					.col-lg-3
						%button#guess.btn.btn-primary{type: 'button'}
							Guess details
				.form-group
					%label.col-lg-3.control-label{for: 'url'}
						Comic URL
					.col-lg-6
						%input#url.form-control{type: 'text', name: 'url',
							placeholder: 'Comic URL'}
				.form-group
					%label.col-lg-3.control-label{for: 'url'}
						Update Schedule
					.col-lg-6
						- LDAYS.each do |day|
							%label.checkbox-inline
								= day[0].upcase
								- cb_name = "updates-#{day}"
								%input{type: 'checkbox', name: cb_name,
									id: cb_name, checked: params[cb_name]}>
				.form-group
					.col-lg-offset-3.col-lg-9
						%button.btn.btn-primary.btn-lg{type: 'submit'}
							Add
						%a.btn.btn-danger.btn-lg{href: url('/comics/')}
							Cancel

