!!!
%html
	%head
		%meta{charset: 'utf-8'}
		%title Webcomic Tracker - Add a comic
		%script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
		%script{src: "/js/jquery.autocomplete.min.js"}
		%link{rel: 'stylesheet', href: "//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"}
		%link{rel: 'stylesheet', href: "/css/jquery.autocomplete.css"}
		:css
			.container {
				width: 50%;
			}
		:javascript
			function fillForm(result)
			{
				result = result || {'name': null, 'url': null, 'schedule': null};
				if (result.name) $("#name").val(result.name);
				if (result.url)  $("#url"). val(result.url);
				if (result.schedule)
				{
					for (var i = 0; i < 7; i++)
					{
						var day = #{LDAYS}[i];
						$("#updates-" + day).prop('checked', result.schedule[i]);
					}
				}
			}
			function setSchedule(schedule)
			{
				fillForm({schedule: schedule});
			}
			$(function(){
				$("#name").autocomplete({
					serviceUrl: '/complete',
					lookupLimit: 10,
					onSelect: fillForm,
					minChars: 2,
					type: 'POST',
					paramName: 'comic',
				});
				$("#name").keypress(function(event) {
				});
			});
	%body
		.container
			%h1 Add a comic
			- if @error
				.alert.alert-danger= @error
			%form.form-horizontal{role: 'form', method: 'post'}
				!= csrf_tag
				.form-group
					%label.col-lg-3.control-label{for: 'name'}
						Comic Name
					.col-lg-6
						%input#name.form-control{type: 'text', name: 'name',
							placeholder: 'Comic Name', value: params["name"]}
				.form-group
					%label.col-lg-3.control-label{for: 'url'}
						Comic URL
					.col-lg-6
						%input#url.form-control{type: 'text', name: 'url',
						placeholder: 'Comic URL', value: params["url"]}
				.form-group
					%label.col-lg-3.control-label
						Update Schedule
					.col-lg-6
						- LDAYS.each do |day|
							%label.checkbox-inline
								= day[0].upcase
								- cb_name = "updates-#{day}"
								%input{type: 'checkbox', name: cb_name,
									id: cb_name, checked: params[cb_name]}>
				.form-group
					%label.col-lg-3.control-label
						Common Schedules
					.col-lg-6
						%button.btn.btn-primary.btn-sm{type: 'button',
							onclick: 'setSchedule([false, true, false, true, false, true, false])'}
							MWF
						%button.btn.btn-primary.btn-sm{type: 'button',
							onclick: 'setSchedule([false, false, true, false, true, false, false])'}
							TT
						%button.btn.btn-primary.btn-sm{type: 'button',
							onclick: 'setSchedule([true, true, true, true, true, true, true])'}
							Every day
						%button.btn.btn-primary.btn-sm{type: 'button',
							onclick: 'setSchedule([false, true, true, true, true, true, false])'}
							Weekdays
				.form-group
					.col-lg-offset-3.col-lg-9
						%button.btn.btn-primary.btn-lg{type: 'submit'}
							Add
						%a.btn.btn-default.btn-lg{href: url('/comics/')}
							Cancel
		!= analytics_tag

